 body{
       background-color: rgb(74, 136, 115); 
   }
  
   #div1, #div2 {
       width: 120px;
       height: 110px;
       margin: 10px;
       padding: 10px;
       border: 4px solid red;
     }
     
     img{
         height: 110px;
         width: 120px;
     }


     @font-face {
      font-family: minhaFonte ;
      src: url(rio_grande/RioGrande.ttf);
     }

     h1{
      text-align: center;
      font-family:minhaFonte;
      color: orange;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: red;
      font-size: 80px;
     }

.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
    text-align: center;
 }
   
 #item-0 {
 
    border: solid; 
    border-color:#BB77E5;
    border: double ;
    border-width: 5px;
    background-color: #5BDBED; 
    grid-row-start: 1;
    grid-column-start: 1;
    height: 110px;
    width: 120px;
 
    grid-row-end: 2;
    grid-column-end: 2;
    height: 110px;
    width: 130px;
    
 }
 #item-1 {
 
    border: solid;
    border-color:#55A797;
    border: double ;
    border-width: 5px;
    background-color: #E6FA77; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;
    height: 110px;
    width: 130px;
 }
 #item-2 {

    border: solid;
    border-color: #5BDBED;
    border: double;
    border-width: 5px;
    background-color: #BB77E5; 
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 3;
    height: 110px;
    width: 130px;
    
 }
 #item-3 {

    border: solid;
    border-color:#6ac88b;
    border: double;
    border-width: 5px;
    background-color: #857BD9; 
    grid-row-start: 1;
    grid-column-start: 5;
 
    grid-row-end: 2;
    grid-column-end: 6;
    height: 110px;
    width: 130px;
    
 }
 #item-4 {

    border: solid;
    border-color: #E6FA77;
    border: double;
    border-width: 5px;
    background-color: #55A797; 
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 2;
    grid-column-end: 5;
    height: 110px;
    width: 130px;
    
 }
 #item-5 {
   
    border: solid;
    border: double ;
    border-width: 5px;
    background-color: #D687B8; 
    grid-row-start: 1;
    grid-column-start: 8;
 
    grid-row-end: 2;
    grid-column-end: 9;
    height: 110px;
    width: 130px;
 }
 #item-6 {

    border: solid;
    border-color:#D687B8;
    border: double;
    border-width: 5px;
    background-color: #965D8B; 
    grid-row-start: 1;
    grid-column-start: 7;
 
    grid-row-end: 2;
    grid-column-end: 8;
    height: 110px;
    width: 130px;
 }
 #item-7 {
 
    border: solid;
    border-color:#857BD9;
    border: double;
    border-width: 5px;
    background-color: #6ac88b; 
    grid-row-start: 1;
    grid-column-start: 6;
 
    grid-row-end: 2;
    grid-column-end: 7;
    height: 110px;
    width: 130px;
 }

 button{

   font-size: 25px;
   color: orange;
   font-family:minhaFonte;
   border-color: red;
   width: 130px;
   height: 35px;
   border-radius: 20px;
   border-width: 3px;

   -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: red;
 }

 